*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
.container{
  min-height: 722px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
p{
  color: darkslategray;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .5px;
}
.section-title{
  font-size: 40px;
  color: darkslategray;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.cta{
  display: inline-block;
  padding: 10px 30px;
  color: antiquewhite;
  background-color: transparent;
  border: 2px solid darkslategray;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: .3s ease;
}
.cta:hover{
  color:burlywood;
  background-color:darkslategray;
}
.brand h1{
  font-size: 30px;
  text-transform: uppercase;
  color: antiquewhite;
  text-align: center;
}
/* <!-- Header Section -->*/
#header{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 1244px;
  height: auto;
}
#header .header{
  min-height: 58px;
  background-color: rgba(31, 30, 30, 0.24);
}
#header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 992px;
  padding: 0 10px;
}
#header .nav-list ul{
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 1244px;
  height: 722px;
  left: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  flex-direction: column;
  transition: .6s ease left;
}
#header .nav-list ul.active{
  left: 0;
}
#header .nav-list ul a{
  font-size: 25px;
  letter-spacing: 2px;
  text-decoration: none;
  color: antiquewhite;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

/* <!-- Hero Section -->*/
#hero{
  background-image: url(https://cdn.pixabay.com/photo/2015/02/02/11/09/office-620822_1280.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}
#hero .hero{
  max-width: 992px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 40px;
  position: relative;
  color:antiquewhite;
}

/* <!-- Intro Section -->*/
#intro .intro{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
#intro .intro-top{
  max-width: 500px;
  margin: 0 auto;
}
#intro .intro-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
#intro .intro-top p{
  text-align: center;
}
#intro .intro-item{
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(https://img.freepik.com/free-vector/modern-abstract-background-with-diagonal-lines-stripes-elements-white-gray-color-pastel-gradient-with-digital-technology-theme_8221-1023.jpg?size=626&ext=jpg);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#intro .intro-bottom .icon{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#intro .intro-item h2{
font-size:medium;
color: darkslategray;
margin-bottom: 10px;
text-transform: uppercase;
}
#intro .intro-item p{
  color: darkslategray;
  text-align: center;
}
/* <!-- Projects Section -->*/
#projects .projects{
  flex-direction: column;
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1{
  margin-bottom: 50px;
}
#projects .all-projects{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}
#projects .project-info{
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: burlywood;
  color: darkslategray;
}
#projects .project-info h1{
  font-size: 30px;
}
#projects .project-info h2{
  font-size: 18px;
  margin-top: 10px;
}
#projects .project-info p{
  color: darkslategray;
}
#projects .project-img{
  flex-basis: 50%;
  height: 300px;
}
/* <!-- About Section -->*/
#about .about{
  flex-direction: column-reverse;
  text-align: center;
  max-width: 992px;
  margin: 0 auto;
  padding: 100px 20px;
}
#about .col-left{
  width: 250px;
  height: 360px;
}
#about .col-right {
  width: 100%;
}
#about .col-right h2{
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#about .col-right p{
  margin-bottom: 20px;
  text-align: left;
}
#about .col-right .cta{
  color:burlywood;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 20px;
}
/* <!-- Contact Section -->*/
#contact .contact{
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  min-width: 133px;
}
#contact .contact-items{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
}
#contact .contact-item{
  width: 30%;
  flex-direction: row;
  margin: 0;
}
#contact .contact-item .icon{
  width: 100px;
  height: 100px;
}
#contact .contact-item .icon img{
  object-fit: contain;
}
#contact .contact-item .contact{
  width: 100%;
  padding-left: 15px;
  text-align: left;
}
#contact .contact h1{
  font-size: 20px;
  margin-bottom: 3px;
}
#contact .contact h2{
  font-size: 11px;
  line-height: 20px;
}
/* <!-- Footer Section -->*/
#footer{
  background-color: darkslategray;
}
#footer .footer{
  min-height: 200px;
  flex-direction:column;
  padding-top: 50px;
  padding-bottom: 10px;
}
#footer h2{
  color: antiquewhite;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#footer .social-icon{
  display:flex;
  margin-bottom: 30px;
}
#footer .social-item{
  height: 50px;
  width: 50px;
  margin: 0 5px;
}
#footer p{
  color: antiquewhite;
  font-size: 13px;
}
/* <!-- Media Query -->*/
@media only screen and (min-width:480px){
  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width:auto;
    background-color: transparent;
    text-align: center;
  }
  #header .nav-list ul li{
    display: inline-block;
    flex-direction: column;
  }
  #header .nav-list ul li a{
    font-size: 10px;
    margin: 13px;
  }
}

@media only screen and (min-width:768px){
  .nav{width: 100%;
  }
  .cta{
    font-size: 25px;
    padding: 20px 60px;
  }
  h1.section-title{
    font-size: 60px;
  }
#hero h1{
  font-size: 70px;
}
.intro .intro-bottom .intro-item{
  flex-basis: 45%;
  margin: 2.5%;
}
#projects .project-item{
  height: 400px;
  margin: 0;
  width: 100%;
  border-radius: 0;
  flex-direction: row;
}
#projects .project-item:nth-child(even){
  flex-direction: row-reverse;
}
#projects .all-projects .project-info{
  height: 100%;
}
#projects .all-projects .project-img{
  height: 100%;
}
#about .about{
  flex-direction: row;
}
#about .col-left{
  width: 600px;
  height: 400px;
  padding-left: 60px;
}
#about .col-right{
  text-align: left;
  padding: 30px;
}
#about .col-right h1{
  text-align: left;
}
#contact .contact{
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
  justify-content: center;
  min-height: 144px;
}
#contact .contact-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 20px;
}
#contact .contact-item{
  margin: 20px;
  flex-direction: row;
}
#contact .contact-item .icon{
  height: 100px;
  width: 100px;
}
#contact .contact-item .icon img{
  object-fit: contain;
}
#contact .contact-item .contact-info{
  width: 100%;
  text-align: left;
  padding-left: 20px;
}
}
@media only screen and (min-width: 992px){
  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li{
    display: inline-block;
  }
  #header .nav-list ul li a{
    font-size: 18px;
  }
  #header .nav-list ul a:after{
    display: none;
  }
  #intro .intro-bottom .intro-item{
    flex-basis: 22%;
    margin: 1.5%;
  }
}