*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family:monospace;
}
a{
  text-decoration: none;
}
.container{
  height: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* <!-- Hero Section -->*/
#hero{
  background-image: url(/Users/zionyang/UCLA-VIRT-FSF-FT-02-2022-U-LOL/02-Advanced-CSS/02-Homework/Portfolio/Main/assets/images/devices.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#hero .hero{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 40px;
  position: relative;
  color:antiquewhite;
}
#hero .cta{
  display: inline-block;
  padding: 10px 30px;
  color: antiquewhite;
  background-color: transparent;
  border: 2px solid darkslategray;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;
}
#hero .cta:hover{
  color: antiquewhite;
  background-color:darkslategray;

}